[Unit]
Description=Aplicatie sesizari web server
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=musca
Group=musca
WorkingDirectory=/home/musca/Documents/Aplicatie_sesizari
EnvironmentFile=/home/musca/Documents/Aplicatie_sesizari/.env
Environment="PYTHONPATH=/home/musca/Documents/Aplicatie_sesizari"
ExecStart="/home/musca/Documents/Aplicatie_sesizari/.venv/bin/waitress-serve" --host 127.0.0.1 --port 5000 --call app:create_app
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
